:root {
    font-family: 'Inter';
}


body {
    margin: 0;
}
.logo-section {
    border: 1px solid lightgrey;
    height: 100px;
    

}
.logo {
    padding: 30px 0 0 30px;
}
input {
    height: 2.5em;
    width: 38em;
    border-radius: 20px;
    border: 1px solid black;
    margin-left: 350px;

}
.search-text {
    padding-left: 20px;
    color: #AFADAD;
}

.header-section-content {
    display: flex;
    justify-content: space-around;
}
.nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
}
ul {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    list-style: none;
}
p {
    color: #1A89DB;
    height: 1em;
    font-size: 12px;
}
a {
    color: black;
    text-decoration: none;
    font-size: 12px;
    
}

